* {
    font-family: Arial, sans;
}

.banner {
    height: auto;
    width: auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-content: space-around;
    width: 80%;
}

.userContainer {
    width: 25%;
}

.product-selection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.product-item {
    padding: 1.25% 2.5%;
    width: 20%;
    border: 1px solid black;
    transition: 0.5s;
    background-color: #ffffff;
}

.product-item > div {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.product-item:hover {
    box-shadow: 0px 0.5px 0px 1.25px #f0f0f0;
}


.product {
    border-radius: 2px;
    border: 1px solid #a0aec0;
    width: 32%;
    margin: 0.5% 0.5%;
    box-shadow: 0px 2.5px 0px 5px #ffffff;
    transition: 0.5s;
}

.product:hover {
    box-shadow: 0px 0.5px 0px 1.25px #c4c3c3;
}

.product .product-body {
    padding: 1.5px 2.5px;
    width: 100%;
}

.product-body > img {
    width: 100%;
}

.searchBarContainer {
    padding: 0.2% 0;
    display: block;
    justify-content: center;
    align-content: center;
    margin: 0;
    width: 50%;
    height: 10%;
}

.searchBarContainer input[type=text] {
    float: none;
    text-align: left;
    width: 70%;
    padding: 3px 6px;

}

.searchBarContainer button {
    background-color: burlywood;
    color: #ffffff;
    padding: 3px 6px;
    width: 30%;
    transition: 0.8s;
}

.searchBarContainer button:hover {
    background-color: saddlebrown;
}

.footer {
    background-color: burlywood;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.filters {
    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: white;
    padding: 2.5%;
    margin: 0;
    width: 20%;
    height: 50%;
}

.filters form button {
    background-color: burlywood;
    border-radius: 5px;
    color: #ffffff;
    padding: 3px 6px;
    width: 50%;
    transition: 0.8s;
}

.filters form button:hover {
    background-color: saddlebrown;
}

