* {
    font-family: Arial, sans;
}

.banner {
    height: auto;
    width: auto;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    width: 40%;
}

.product .product-body {
    width: 50%;
}

.userContainer {
    width: 50%;
}

.searchBar {
    width: 25%;
}

